/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-mdc-form-field .mdc-notched-outline__notch {
  border-right: 0px !important;
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined
  .mat-mdc-form-field-infix:has(> mat-number-input) {
  padding-top: 12px !important;
  padding-bottom: 8px !important;
}

.mat-mdc-form-field,
.mat-mdc-form-field-subscript-wrapper {
  display: unset !important;
}
